@mixin flex($position, $layout) {
  display: flex;
  // flex-wrap: wrap;
  align-items: center;
  flex-direction: $position;
  justify-content: $layout;
}
@mixin font($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}

@mixin center-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin center-vertically {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin icon-container {
  .icon {
    border-radius: 10px;
    background: rgba(196, 196, 196, 0.1);
    position: relative;
    img {
      padding: 10px;
      @include center-element;
    }
  }
}
